[submodule ".dotbot"]
	path = .dotbot
	url = ../../anishathalye/dotbot.git
[submodule "colors/base16-i3"]
	path = colors/base16-i3
	url = https://github.com/khamer/base16-i3.git
[submodule "ubersicht/chunkbar.widget"]
	path = ubersicht/chunkbar.widget
	url = https://github.com/qubidt/chunkbar.widget.git
[submodule "colors/base16-rofi"]
	path = colors/base16-rofi
	url = https://github.com/0xdec/base16-rofi.git
[submodule "colors/base16-shell"]
	path = colors/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule "scripts/sh-realpath"]
	path = scripts/sh-realpath
	url = https://github.com/mkropat/sh-realpath.git
[submodule "colors/base16-vim"]
	path = colors/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
[submodule "colors/base16-tmux"]
	path = colors/base16-tmux
	url = https://github.com/Kraust/base16-tmux.git
[submodule "colors/base16-alacritty"]
	path = colors/base16-alacritty
	url = https://github.com/aaron-williamson/base16-alacritty.git
[submodule "colors/base16-xresources"]
	path = colors/base16-xresources
	url = https://github.com/chriskempson/base16-xresources.git
[submodule ".base16/base16-schemes-source"]
	path = colors/base16-schemes-source
	url = https://github.com/chriskempson/base16-schemes-source.git
[submodule ".base16/base16-builder-python"]
	path = colors/base16-builder-python
	url = https://github.com/InspectorMustache/base16-builder-python.git
[submodule "firefox/chrome/firefox-csshacks"]
	path = firefox/chrome/firefox-csshacks
	url = https://github.com/MrOtherGuy/firefox-csshacks.git
[submodule "firefox/chrome/Firefox-Minimal-Responsive-Theme"]
	path = firefox/chrome/Firefox-Minimal-Responsive-Theme
	url = https://github.com/moamenk/Firefox-Minimal-Responsive-Theme.git
[submodule "firefox/chrome/TanzNukeTerror-TreeTabs/Custom-Firefox"]
	path = firefox/chrome/TanzNukeTerror-TreeTabs/Custom-Firefox
	url = https://github.com/TanzNukeTerror/Custom-Firefox.git
[submodule "firefox/chrome/ShadowFox"]
	path = firefox/chrome/ShadowFox
	url = https://github.com/overdodactyl/ShadowFox.git
[submodule "neovim/dein.vim"]
	path = neovim/dein.vim
	url = https://github.com/Shougo/dein.vim.git
