### Status Bar
#
# bar: `man 5 sway-bar` / `man i3bar`
# status: `man i3status`
#

bar {
    position top

    workspace_buttons yes
    binding_mode_indicator yes

    tray_output none

    strip_workspace_numbers yes

    status_command "i3status --config ~/.config/i3status/essentials.conf | sed --unbuffered -e 's/#FF0000/$base08/g' -e 's/#00FF00/$base0B/g'"

    colors {
        background $base00
        separator  $base03
        statusline $base04

        # # Property Name         Border  BG      Text    Indicator Child Border
        # client.focused          $base02 $base02 $base06 $base0B   $base0D
        # client.focused_inactive $base01 $base01 $base03 $base0D   $base02
        # client.unfocused        $base01 $base00 $base03 $base00   $base01
        # client.urgent           $base08 $base08 $base00 $base08   $base08
        # # i3-only
        # client.placeholder      $base05 $base05 $base07 $base00   $base05
        # client.background       $base02

        # State             Border  BG      Text
        focused_workspace   $base02 $base02 $base07
        active_workspace    $base05 $base02 $base00
        inactive_workspace  $base00 $base00 $base05
        urgent_workspace    $base08 $base08 $base00
        binding_mode        $base00 $base0A $base00
    }
}

bar {
    position bottom

    # status_command while date +'%Y-%m-%d %l:%M:%S %p'; do sleep 1; done
    # status_command i3status-rs ~/.config/i3status-rust/config.toml
    status_command "i3status --config ~/.config/i3status/stats.conf | sed --unbuffered -e 's/#FF0000/$base08/g' -e 's/#00FF00/$base0B/g'"

    workspace_buttons no
    binding_mode_indicator no

    tray_output *

    colors {
        background $base00
        separator  $base03
        statusline $base04
    }
}
