[Unit]
Description=Barrier Server Daemon
After=network.target

[Service]
IPAddressDeny=any
IPAddressAllow=localhost
PassEnvironment=DISPLAY
ExecStart=/usr/bin/barriers --address %i --enable-crypto --no-restart --no-daemon --config %h/.config/barrier/desktops.config
Type=simple
ProtectHome=read-only
ProtectSystem=true
PrivateTmp=true
Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target

# Credit: https://github.com/AdrianKoshka/config/wiki/My-barrier-setup

# This unit expects a config file, and SSL certificates generated, and
# fingerprints put in ~/.barrier/SSL/Barrier.pem, and
# ~/.barrier/SSL/Fingerprnits/Local.txt
# In it's default state, this unit only has access
# to localhost, so ::1/128 and 127.0.0.1/8
#   $ systemctl --user start barriers@<ip>.service
# Where <ip> is an IPv4 or IPv6 address, e.g.
#   $ systemctl --user start barriers@::1.service
