[Unit]
Description=Barrier Client Daemon
After=network.target

[Service]
ExecStart=/usr/bin/barrierc --no-daemon cerebro
Restart=always
RestartSec=3

[Install]
WantedBy=default.target
